@page "/login"
@inherits FoodTracker.Pages.BaseComponents.UnsecureComponentBase


<div>
    <button @onclick="NavigateToRegister" class="btn btn-secondary">Don't have an account? Register</button>
</div>